.glassTester {
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: red;
  top: 30px;
  left: 50px;
}  

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #212121;
  display: flex;
  padding: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  width: 25rem;
  background-color: transparent;
  backdrop-filter: blur(30px);
  padding: 2rem;
  border-radius: 1.5rem;
}

.headshot {
  width: 13rem;
  height: 13rem;
  border-radius: 100%;
  object-fit: cover;
  border: 0.15rem solid white;
  align-self: center;
  margin-bottom: 1rem;
}

.name {
  align-self: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16rem;
  padding-top: 1rem;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.bio {
  text-indent: 3rem;
}

.typed-cursor {
  animation: blink 1s infinite !important;
}

.link {
  background-color: pink;
  height: auto;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}
